@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8FAFB;
  font-family: 'Inter', sans-serif;
}

button {
  transition: background 0.2s ease;
}
